@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&family=Notable&family=Raleway&family=Righteous&display=swap");
*{
  margin-top: 0;
}
body {
  background-color: #88ccfb;
  font-family: "Raleway", sans-serif;
  cursor: url(lib/mouse.svg), auto;
}
.main {
  transform: skewY(15deg);
  margin-left: 22vw;
}
img {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
}
#books{
  width: 23vw;
  cursor: url(lib/pointer.svg), auto;
}
#spacer {
  /* no cutoff above, no blur below */
  height: calc(40vw * tan(15deg));
  /* background-color: black; */
}
h1 {
  color: white;
  font-size: 350%;
}
#btn {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;

  border-style: solid;
  border-width: 2px 4px 3px 2px;

  color: black;
  font-size: 150%;

  position: fixed;
  top: 10px;
  right: 10px;

  cursor: url(lib/pointer.svg), auto;
}
/* cursor */
p, h1, h2, h3, h4, h5, h6, span, li {
  cursor: url(lib/type.svg), auto;
}

.container {
  max-width: 70vw;
}
#text {
  display: grid;
}
#text p {
  font-size: 150%;
}
