@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&family=Notable&family=Raleway&family=Righteous&display=swap");
* {
  margin-top: 0;
}
body {
  background-color: #88ccfb;
  font-family: "Raleway", sans-serif;
  cursor: url(lib/mouse.svg), auto;
}

.loader {
  /* size of screen div, cuts off img access */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #88ccfb;
}
.loader img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@keyframes windowAnim {
  /* applied via js */
  to { width: 1500vw; }
}
@keyframes hide {
  /* applied via js */
  40% { background-color: #88ccfb; }
  100% {
    background-color: transparent;
    display: none;
  }
}
#loading {
  animation: reveal .7s linear infinite alternate;
  transition: opacity .3s;
}
@keyframes reveal {
  from { clip-path: inset(0 20% 0 0); }
  to { clip-path: inset(0 65% 0 0); }
}

.main {
  transform: skewY(15deg);
  margin-left: 22vw;
}
img {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
}
#floor {
  transform: translate(0, calc(50vw * tan(15deg))) skewY(15deg);
}
#books {
  width: 23vw;
  cursor: url(lib/pointer.svg), auto;
}
#spacer {
  /* no cutoff above, no blur below */
  height: calc(40vw * tan(15deg));
  /* background-color: black; */
}
h1 {
  color: white;
  font-size: 350%;
}
#btn {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;

  border-style: solid;
  border-width: 2px 4px 3px 2px;

  color: black;
  font-size: 150%;

  position: fixed;
  top: 10px;
  right: 10px;

  cursor: url(lib/pointer.svg), auto;
}
/* cursor */
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
li {
  cursor: url(lib/type.svg), auto;
}

.container {
  max-width: 70vw;
}
#text {
  display: grid;
}
#text p {
  font-size: 150%;
}
