@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&family=Notable&family=Raleway&family=Righteous&display=swap");
* {
  margin-top: 0;
}
body {
  background-color: #ba2d0b;
  font-family: "Raleway", sans-serif;
  cursor: url(lib/mouse.svg), auto;
}
.main {
  transform: skewY(15deg);
  margin-left: 22vw;
}
img {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
}
#floor{
  transform: translate(0, calc(50vw * tan(15deg))) skewY(15deg);
}
#caterpillar {
  width: 15vw;
  cursor: url(lib/pointer.svg), auto;
}
#spacer {
  /* no cutoff above, no blur below */
  height: calc(40vw * tan(15deg));
  /* background-color: black; */
}
h1 {
  color: white;
  font-size: 350%;
}
h2{
  font-size: 180%;
  margin-bottom: 10px;
}
p {
  font-size: 150%;
  margin-bottom: 10px;
}
#btn {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;

  border-style: solid;
  border-width: 2px 4px 3px 2px;

  color: black;
  font-size: 150%;

  position: fixed;
  top: 10px;
  right: 10px;

  cursor: url(lib/pointer.svg), auto;
}

/* cursor */
p, h1, h2, h3, h4, h5, h6, span, li {
  cursor: url(lib/type.svg), auto;
}

.container {
  position: relative;
  border-radius: 5px;
  padding: 10px 10px 0px 10px;
  outline: 3px solid black;
  max-width: 70vw;
  align-content: center;
  text-align: center;
  /* overflow-wrap: break-word; */
}
#contacts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
#contacts a {
  display: block;
  padding-bottom: 15px;
  font-size: 150%;
  font-weight: 600;
  word-break: break-all;
  cursor: url(lib/pointer.svg), auto;
}
#contacts img{
  position: relative;
  height: 70px;
  width: auto;
}
#contacts #cover{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%); 
  width: 100%;

  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

@media screen and (max-width: 1248px) {
  #contacts {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 820px) {
  #contacts {
    grid-template-columns: repeat(1, 1fr);
  }
}
