@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&family=Notable&family=Raleway&family=Righteous&display=swap");
*{
  margin-top: 0;
}
body {
  background-color: #607744;
  font-family: "Raleway", sans-serif;
  cursor: url(lib/mouse.svg), auto;
}

#window {
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.loader {
  /* size of screen div, cuts off img access */
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #88ccfb;
}
@keyframes windowAnim {
  to { width: 1500vw; }
}
@keyframes hide {
  40% { background-color: #88ccfb; }
  100% {
    background-color: transparent;
    display: none;
  }
}
#loading {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  animation: reveal 1s linear infinite alternate;
  transition: opacity .3s;
}
@keyframes reveal {
  from { clip-path: inset(0 0% 0 0); }
  to { clip-path: inset(0 65% 0 0); }
}

.main {
  transform: skewY(15deg);
  margin-left: 22vw;
}
img {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
}
#floor{
  transform: translate(0, calc(50vw * tan(15deg))) skewY(15deg);
}
#plant{
  width: 23vw;
}
#spacer {
  /* no cutoff above, no blur below */
  height: calc(40vw * tan(15deg));
  /* background-color: black; */
}
h1 {
  font-size: 350%;
  margin-bottom: 0;
}
h2 {
  font-size: 225%;
  padding-top: 10px;
}
a {
  font-size: 180%;
  /* color: #859d67; */
  cursor: url(lib/pointer.svg), auto;
  font-weight: 700;
}
h4 {
  font-size: 140%;
  margin-bottom: 2px;
}
p {
  font-size: 120%;
}
#btn {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;

  border-style: solid;
  border-width: 2px 4px 3px 2px;

  color: black;
  font-size: 150%;

  position: fixed;
  top: 10px;
  right: 10px;

  cursor: url(lib/pointer.svg), auto;
}

/* cursor */
p, h1, h2, h3, h4, h5, h6, span, li {
  cursor: url(lib/type.svg), auto;
}

.container {
  border-radius: 5px;
  padding: 10px 10px 0px 10px;
  outline: 3px solid black;
  max-width: 70vw;
}
.group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

@media screen and (max-width: 1248px) {
  .group {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 820px) {
  .group {
    grid-template-columns: repeat(1, 1fr);
  }
}
