@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&family=Notable&family=Raleway&family=Righteous&display=swap");
*{
  margin-top: 0;
}
body {
  background-color: #607744;
  font-family: "Raleway", sans-serif;
  cursor: url(lib/mouse.svg), auto;
}
.main {
  transform: skewY(15deg);
  margin-left: 22vw;
}
img {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
}
#plant{
  width: 23vw;
}
#spacer {
  /* no cutoff above, no blur below */
  height: calc(40vw * tan(15deg));
  /* background-color: black; */
}
h1 {
  font-size: 350%;
  margin-bottom: 0;
}
h2 {
  font-size: 225%;
  padding-top: 10px;
}
a {
  font-size: 180%;
  color: #859d67;
  cursor: url(lib/pointer.svg), auto;
}
h4 {
  font-size: 140%;
}
p {
  font-size: 120%;
}
#btn {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;

  border-style: solid;
  border-width: 2px 4px 3px 2px;

  color: black;
  font-size: 150%;

  position: fixed;
  top: 10px;
  right: 10px;

  cursor: url(lib/pointer.svg), auto;
}

/* cursor */
p, h1, h2, h3, h4, h5, h6, span, li {
  cursor: url(lib/type.svg), auto;
}

.container {
  border-radius: 5px;
  padding: 10px 10px 0px 10px;
  outline: 3px solid black;
  max-width: 70vw;
}
.group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

@media screen and (max-width: 1248px) {
  .group {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 820px) {
  .group {
    grid-template-columns: repeat(1, 1fr);
  }
}
