@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&family=Notable&family=Raleway&family=Righteous&display=swap");
* {
  margin-top: 0;
}
body {
  background-color: #f2e2ba;
  font-family: "Raleway", sans-serif;
  cursor: url(lib/mouse.svg), auto;
  max-width: 95vw;
}

.loader {
  /* size of screen div, cuts off img access */
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #88ccfb;
}
.loader img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#loading {
  animation: reveal .7s linear infinite alternate;
  transition: opacity .4s;
}
@keyframes windowAnim {
  /* applied via js */
  to { width: 1500vw; }
}
@keyframes hide {
  /* applied via js */
  40% { background-color: #88ccfb; }
  100% {
    background-color: transparent;
    display: none;
  }
}
@keyframes reveal {
  from { clip-path: inset(0 20% 0 0); }
  to { clip-path: inset(0 65% 0 0); }
}

.main {
  transform: skewY(15deg);
  margin-left: 22vw;
}
img {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
}
#floor{
  transform: translate(0, calc(50vw * tan(15deg))) skewY(15deg);
}
#spacer {
  /* no cutoff above, no blur below */
  height: calc(40vw * tan(15deg));
  /* background-color: black; */
}
h1 {
  font-size: 350%;
  margin-bottom: 10px;
}
h2 {
  font-size: 225%;
  margin-top: 30px;
  margin-bottom: 10px;
}
h3 {
  font-size: 180%;
  margin-bottom: 10px;
}
h4 {
  font-size: 140%;
  margin-bottom: 10px;
}
p {
  font-size: 120%;
  margin-bottom: 0;
}
a {
  font-size: 120%;
  /* color: blue; */
  cursor: url(lib/pointer.svg), auto;
}
#btn {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;

  border-style: solid;
  border-width: 2px 4px 3px 2px;

  color: black;
  font-size: 150%;

  position: fixed;
  top: 10px;
  right: 10px;

  cursor: url(lib/pointer.svg), auto;
}
.main #btn {
  display: inline;
  position: static;
  font-size: 180%;
  margin-bottom: 10px;
}

/* cursor */
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
li {
  cursor: url(lib/type.svg), auto;
}

.container {
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  outline: 3px solid black;
}
#contact {
  text-decoration: none;
  margin-top: 30px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1.1fr 2fr 1fr;
  gap: 15px;
}
#contact .container{
  align-content: center;
}
.skill .container{
  justify-items: center;
  align-content: center;
}
#prog {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 15px;
}
#tool {
  display: grid;
  grid-template-columns: repeat(6, auto);
  gap: 15px;
}
#lang {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 15px;
}
#ed {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}
#exp {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
#exp a{
  font-size: 180%;
  margin-top: 10px;
  font-weight: 700;
}
#proj{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
#proj a{
  font-size: 140%;
}
#proj h4{
  margin-top: 10px;
}
#honor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
#honor a{
  font-size: 180%;
  font-weight: 700;
}

@media screen and (max-width: 1248px) {
  #contact {
    grid-template-columns: repeat(6, auto);
    grid-template-areas:
      "place place phone phone email email"
      "link link link git git git";
  }
  #place {
    grid-area: place;
  }
  #phone {
    grid-area: phone;
  }
  #email {
    grid-area: email;
  }
  #link {
    grid-area: link;
  }
  #git {
    grid-area: git;
  }
  #tool {
    grid-template-columns: repeat(3, auto);
  }
  #exp {
    grid-template-columns: 1fr;
  }
  #proj{
    grid-template-columns: repeat(2, 1fr);
  }
  #honor {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 820px) {
  #contact {
    grid-template-columns: repeat(2, auto);
    grid-template-areas:
      "place phone"
      "email email"
      "link link"
      "git git";
  }
  #prog,
  #tool,
  #lang {
    grid-template-columns: repeat(2, auto);
  }
  #honor,
  #proj {
    grid-template-columns: 1fr;
  }
}
