@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&family=Notable&family=Raleway&family=Righteous&display=swap");
*{
  margin-top: 0;
}
body {
  background-color: #f2e2ba;
  font-family: "Raleway", sans-serif;
  cursor: url(lib/mouse.svg), auto;
  max-width: 95vw;
}
.main {
  transform: skewY(15deg);
  margin-left: 22vw;
}
img {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
}
#spacer {
  /* no cutoff above, no blur below */
  height: calc(40vw * tan(15deg));
  /* background-color: black; */
}
h1 {
  font-size: 350%;
  margin-bottom: 10px;
}
h2 {
  font-size: 225%;
  margin-top: 30px;
  margin-bottom: 10px;
}
h3 {
  font-size: 180%;
  margin-top: 10px;
  margin-bottom: 10px;
}
h4 {
  font-size: 140%;
  margin-bottom: 10px;
}
p {
  font-size: 120%;
  margin-bottom: 0;
}
a {
  font-size: 120%;
  color: blue;
  cursor: url(lib/mouse.svg), auto;
}
#btn {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;

  border-style: solid;
  border-width: 2px 4px 3px 2px;

  color: black;
  font-size: 150%;

  position: fixed;
  top: 10px;
  right: 10px;

  cursor: url(lib/pointer.svg), auto;
}
.main #btn{
  display: inline;
  position: static;
  /* padding: 20px; */
  margin-bottom: 10px;
}

/* cursor */
p, h1, h2, h3, h4, h5, h6, span, li {
  cursor: url(lib/type.svg), auto;
}

.container {
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
  outline: 3px solid black;
  /* max-width: 70vw; */
}
#prog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
#tool {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
}
#lang {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
#ed {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
}
#exp {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
#honor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

#contacts a {
  display: block;
  padding-bottom: 15px;
  color: blue;
  font-size: 150%;
}

@media screen and (max-width: 1248px) {
  #prog, #tool {
    grid-template-columns: repeat(3, 1fr);
  }
  #exp {
    grid-template-columns: repeat(1, 1fr);
  }
  #honor {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 820px) {
  #prog, #tool, #lang{
    grid-template-columns: repeat(2, 1fr);
  }
  #honor {
    grid-template-columns: repeat(1, 1fr);
  }
}
