@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&family=Notable&family=Raleway&family=Righteous&display=swap");

body {
  background-color: #f2e2ba;
  font-family: "Raleway", sans-serif;
}
.main {
  transform: skewY(15deg);
  margin-left: 22vw;
}
img {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
}
#spacer {
  /* no cutoff above, no blur below */
  height: calc(40vw * tan(15deg));
  /* background-color: black; */
}
h1 {
  font-size: 350%;
}
h2 {
  font-size: 225%;
}
h3 {
  font-size: 180%;
}
h4 {
  font-size: 140%;
}
p {
  font-size: 120%;
}
a {
  font-size: 120%;
  color: blue;
}
#btn {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;

  border-style: solid;
  border-width: 2px 4px 3px 2px;

  color: black;
  font-size: 150%;
}

.container {
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  outline: 3px solid black;
  max-width: 70vw;
}
#prog {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 15px;
}
#lang {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
#ed {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
}
#exp {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
#honor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

#contacts a {
  display: block;
  padding-bottom: 15px;
  color: blue;
  font-size: 150%;
}

@media screen and (max-width: 1248px) {
  #prog {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  #lang {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
  #exp {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }
  #honor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}
@media screen and (max-width: 820px) {
  #prog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  #lang {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  #honor {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }
}
