/* general */
*,
html{
  margin: 0;
  text-decoration: none;
}
body {
  background-color: #BA2D0B;
  background-image: linear-gradient(#88CCFB, #88CCFB, #1A275F, #1A275F);
  background-attachment: fixed;
  overscroll-behavior: none;
  overflow-x: hidden;
  cursor: url(lib/mouse.svg), auto;
}


/* loader */
.loader{
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: #242528;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.8s ease-in-out;
}
.spinner {
  position: absolute;
  top: 65vh;
  left: 50%;
  width: 30px;
  height: 30px;
  margin: -15px 0 0 -15px;
  border: 4px solid #ccc;
  border-top-color: #333;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

/* links */
a{
  cursor: url(lib/pointer.svg), auto;
}

/* clouds */
#clouds {
  left: 0;
  top: 0;
  height: 100%;
  animation: moveClouds 30s linear infinite;
}
#clouds_back {
  left: 0;
  top: 0;
  height: 100%;
  animation: moveCloudsBack 40s linear infinite;
}
.clouds {
  /* size of screen div, cuts off img access */
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}
.clouds_back {
  /* size of screen div, cuts off img access */
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 110vh;
  overflow: hidden;
  background-color: #88ccfb;
}
@keyframes moveClouds {
  100% {
    transform: translateX(-50%);
  }
}
@keyframes moveCloudsBack {
  100% {
    transform: translateX(-25%);
  }
}

/* title */
.title {
  width: 100%;
  height: 80vh;
  top: 0;
  left: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title img {
  height: 30vh;
  margin: 20px;
  z-index: 2;
}

/* skyline */
#skyline {
  width: 100%;
  position: fixed;
  z-index: -1;
  top: 65vh;
}

/* building */
.building {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#roof {
  width: 100%;
  z-index: 1;
}

/* windows */
.windows {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;

  background-color: #f2e2ba;
  padding: 30vh 5% 0 5%;
  width: 60%;

  position: absolute;
  top: 85vh;
  left: 14.75vw;
}
.windows img {
  width: 100%;
  padding-bottom: 30px;
}

/* stairs */
#stairs {
  /* div */
  display: flex;
  flex-direction: column;

  width: 60%;

  position: absolute;
  top: 115vh;
  left: 20vw;
}
.stairs {
  /* individuals */
  position: absolute;
  width: 50%;
  left: 45%;
}
.awning {
  position: absolute;
  width: 100%;
}
#door {
  position: absolute;
  left: 25%;
  padding-top: 5%;
  /* margin-bottom: 0;*/
}

.bird {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  cursor: url(lib/pointer.svg), auto;
}
#bird {
  position: absolute;
  width: 5vw;
  bottom: 20vh;
  right: 10vw;
  overflow: hidden;
}

@media screen and (max-width: 1170px) {
  .title {
    flex-direction: column;
  }
  .title img {
    height: 15vh;
  }
  .windows {
    padding-top: 20vh;
  }
  #stairs {
    top: 105vh;
  }
}
@media screen and (max-width: 725px) {
  #scrap {
    display: none;
  }
  .windows {
    grid-template-columns: repeat(1, 1fr);
    padding-top: 10vh;
  }
  #stairs {
    top: 105vh;
  }
  #door {
    /* padding: 0;  */
    left: 0;
  }
}
@media screen and (max-width: 530px) {
  #stairs {
    top: 100vh;
  }
}
